Alexander - 2017 - Stellar Dynamics and Stellar Phenomena Near a Mass_highlighted.pdf
Stone_gsas.harvard_0084L_10998_highlighted.pdf
Symposium - International Astronomical Union Volume 136 issue 1989 [doi 10.1017_s0074180900187054] Phinney, E.S. -- Manifestations of a Massive Black Hole in the Galactic Center.pdf
